.textSection {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 80px;
  width: 100%;
  overflow: hidden;

  & svg {
    max-width: 400px;
    height: auto;
  }

  @media (--mediaTablet) {
    padding: 0 var(--space3XL);
  }

  @media (--mediaMobile) {
    padding: 0 var(--spaceOuter);
  }

  @media (--mediaMobile) {
    & svg {
      max-width: 100%;
      padding: 0 var(--spaceL);
    }
  }
}

.armor {
  aspect-ratio: 1 / 2;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
}
