.uses {
  --maxWidthL: var(--maxWidthM);
}

.section {
  opacity: 0;
  padding-top: var(--space2XL);
  padding-bottom: var(--space2XL);
  margin-top: var(--space2XL);

  &:global {
    animation: fade-in 1s ease 1s forwards;
  }

  + & {
    margin-top: 0;
  }

  @media (--mediaTablet) {
    padding-top: var(--spaceXL);
    padding-bottom: var(--spaceXL);
    margin-top: var(--spaceXL);
  }

  @media (--mediaMobile) {
    padding-top: var(--spaceL);
    padding-bottom: var(--spaceL);
    margin-top: var(--spaceL);
    padding-left: var(--spaceOuter);
    padding-right: var(--spaceOuter);
  }
}
