.contact {
  padding-top: var(--space5XL);
  padding-bottom: var(--space3XL);
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.title {
  margin-bottom: var(--spaceXL);
  opacity: 0;
  transition: opacity var(--durationXL) ease var(--durationM);

  &[data-status='entered'] {
    opacity: 1;
  }
}

.divider {
  margin-bottom: var(--space3XL);
  opacity: 0;
  transition: opacity var(--durationXL) ease var(--durationL);

  &[data-status='entered'] {
    opacity: 1;
  }
}

.description {
  margin-bottom: var(--space3XL);
  opacity: 0;
  transition: opacity var(--durationXL) ease var(--durationXL);

  &[data-status='entered'] {
    opacity: 1;
  }
}

.button {
  opacity: 0;
  transition: opacity var(--durationXL) ease var(--duration2XL);

  &[data-status='entered'] {
    opacity: 1;
  }
}

.footer {
  margin-top: var(--space5XL);
}
