.contact {
  padding-top: var(--space5XL);
  padding-bottom: var(--space3XL);
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (--mediaTablet) {
    padding-top: var(--space4XL);
    padding-bottom: var(--space2XL);
    min-height: 50vh;
  }

  @media (--mediaMobile) {
    padding-top: var(--mobileNavOffset);
    padding-bottom: var(--space2XL);
    padding-left: var(--spaceOuter);
    padding-right: var(--spaceOuter);
    min-height: auto;
  }
}

.content {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  width: 100%;

  @media (--mediaMobile) {
    max-width: 100%;
  }
}

.title {
  margin-bottom: var(--spaceXL);
  opacity: 0;
  transition: opacity var(--durationXL) ease var(--durationM);

  &[data-status='entered'] {
    opacity: 1;
  }
}

.divider {
  margin-bottom: var(--space3XL);
  opacity: 0;
  transition: opacity var(--durationXL) ease var(--durationL);

  &[data-status='entered'] {
    opacity: 1;
  }
}

.description {
  margin-bottom: var(--space3XL);
  opacity: 0;
  transition: opacity var(--durationXL) ease var(--durationXL);

  &[data-status='entered'] {
    opacity: 1;
  }
}

.button {
  opacity: 0;
  transition: opacity var(--durationXL) ease var(--duration2XL);

  &[data-status='entered'] {
    opacity: 1;
  }
}

.footer {
  margin-top: var(--space5XL);
}
